@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 1fr 0.3fr;
  gap: 10px;
  padding: 10px;
}
.grid-container > div {
  border: solid;
  font-family: Cyber;
}

img {
  float: left;
  margin-left: 70px;
  margin-top: 40px;
  border-radius: 50%;
  border: 20px solid white;
}

.item1 {
  font-size: 295%;
  font-family: "Cyber", sans-serif;
  color: white;
  -webkit-text-stroke: 3px white;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  background: url(https://lh3.googleusercontent.com/IUW9ykqG1jpsxtqe87bh_X3tJ0KlfFiVcVSHOukl_amt-Pi4zbNT592rfmPGOfCiuyMnkUAJStD9M_xL0wxj7PsVs6tVHS8YdgnIUQjoGKtWdCKWY32j-W2AeiP6VVkCH4_gHomcSph3E0Sx6e1iB3JOxYKyf_cYpkiZ8sON93EG7oi7WdDJTKExQ-c8qSL6t-clvMCtfCLDQNbguW-ShUrjGB4VwJSjCnOpfcnGtT_Xvbv65fKSOG9fwY5uSwl504PueE905WCd0oCYzKIXlSbIbWryV1o2uozNUv9WASBRWzV0iKMBykgWr4qxxhBclILyC5YE86YNmvRst6OxadWWzOCvhUxCdvUbCtbP3UC3KBsWZFBmuZQrKwaZGPX4tAN0yUcLV6ObOyyZh4ejlNQiG19Coz5wP93XWlOSmYKiGSyL6FoSfqDR2mPIZpVFQXYH4leqacUKxZ4q_lw3Rjzuq0ngQ73MuZ6mRADlHUid-puRPZ5hhRpS5teXeUGwn8nziWUF7fVosr0TwWCGL6zGfpNu1xDR84PrJUb74V_Cy7Y9xw44UF8kB0TBJDHYDYx4Q2wNOIb3PoIsD4DN5OKJn36KIX9Z7XUw7D3aSNp-zhXLiVD6kgsw4ezDeCVq04sb0Ke50oKvWisN-L8gJrQ_Lj8iwuia7Xwk9ZOeaplsI2GW-HoYfaeTMxbN25lWcOKayJ0ortbBaFTS45Y96lsSKpdZ4vKzNTyf2W6xb1lvbRwAomgjVp364JyZaT0jXLk9EXJ3DY41MwPydGBoihwim2wVNA9ERfJKNMTywjUu8bJvAYbRfVp0DPfk1GpMgw8tOfVCwmYSoLp1GuO7nTIoPabU1YK7PUhc3NPb1x-piHpB6g5fOsIJyVB7lNd39oUqXDcxh8omAEqoTxhadAAAx0nzMu3xK3husWWf3J-_=w1588-h893-no?authuser=0);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: animacion-fondo;
  animation-duration: 10s;
  animation-timing-function: initial;
  animation-iteration-count: infinite;
}
@keyframes animacion-fondo {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px -200px;
  }
}

ul,
li {
  text-align: left;
}

.item2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  border: solid;
  text-align: center;
  font-family: "Cyber", sans-serif;
  font-size: 120%;
}

.item3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border: solid;
  text-align: center;
  font-family: "Cyber", sans-serif;
  font-size: 120%;
}

.item4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  border: solid;
  text-align: center;
  font-family: "Cyber", sans-serif;
  font-size: 120%;
}

.item5 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 4;
  border: solid;
  text-align: center;
  font-family: "Cyber", sans-serif;
  font-size: 120%;
}

.item6 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 7;
  border: solid;
  text-align: center;
  font-family: "Cyber", sans-serif;
  font-size: 120%;
}

.item7 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 6;
  border: solid;
  text-align: center;
  font-family: "Cyber", sans-serif;
  font-size: 120%;
}


.item8 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 6;
  grid-row-end: 7;
  border: solid;
  text-align: center;
  font-family: "Cyber", sans-serif;
  font-size: 140%;
}

.item9 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 8;
  border: solid;
  text-align: center;
  font-family: "Cyber", sans-serif;
  font-size: 120%;
}

.skills {
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.detalles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.menu {
  position: relative;
  border: 1px solid cyan;
  border-radius: 20px;
}
.menu div {
  position: relative;
  width: 0;
  height: 8px;
  border-radius: 10px;
  background-color: cyan;
}

#Soporte-Tecnico-menu {
  animation: Soporte-Tecnico-menu-barra 10s forwards;
}

@keyframes Soporte-Tecnico-menu-barra {
  100% {
    width: 100%;
  }
}

#Proyectos-menu {
  animation: Proyectos-menu-barra 10s forwards;
}

@keyframes Proyectos-menu-barra {
  100% {
    width: 80%;
  }
}

#Redes-LAN-WAN-menu {
  animation: Redes-LAN-WAN-menu-barra 10s forwards;
}

@keyframes Redes-LAN-WAN-menu-barra {
  100% {
    width: 50%;
  }
}

#Redes-2G-3G-LTE-menu {
  animation: Redes-2G-3G-LTE-menu-barra 10s forwards;
}

@keyframes Redes-2G-3G-LTE-menu-barra {
  100% {
    width: 100%;
  }
}

#Azure-menu {
  animation: Azure-menu-barra 10s forwards;
}

@keyframes Azure-menu-barra {
  100% {
    width: 10%;
  }
}

#Html-menu {
  animation: Html-menu-barra 10s forwards;
}

@keyframes Html-menu-barra {
  100% {
    width: 50%;
  }
}


#CSS-menu {
  animation: CSS-menu-barra 10s forwards;
}

@keyframes CSS-menu-barra {
  100% {
    width: 35%;
  }
}


#JavaScript-menu {
  animation: JavaScript-menu-barra 10s forwards;
}

@keyframes JavaScript-menu-barra {
  100% {
    width: 10%;
  }
}


#MS-365-menu {
  animation: MS-365-menu-barra 10s forwards;
}

@keyframes MS-365-menu-barra {
  100% {
    width: 10%;
  }
}

#Linus-menu {
  animation: Linus-menu-barra 10s forwards;
}

@keyframes Linus-menu-barra {
  100% {
    width: 10%;
  }
}

.cybr-btn {
  --primary: hsl(
    var(--primary-hue),
    85%,
    calc(var(--primary-lightness, 50) * 1%)
  );
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 58;
  --primary-lightness: 50;
  --color: hsl(0, 9%, 2%);
  --font-size: 26px;
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(
    0 0,
    100% 0,
    100% 100%,
    95% 100%,
    95% 90%,
    85% 90%,
    85% 100%,
    8% 100%,
    0 70%
  );
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(
    0 2%,
    100% 2%,
    100% 95%,
    95% 95%,
    95% 90%,
    85% 90%,
    85% 95%,
    8% 95%,
    0 70%
  );
  --clip-two: polygon(
    0 78%,
    100% 78%,
    100% 100%,
    95% 100%,
    95% 90%,
    85% 90%,
    85% 100%,
    8% 100%,
    0 78%
  );
  --clip-three: polygon(
    0 44%,
    100% 44%,
    100% 54%,
    95% 54%,
    95% 54%,
    85% 54%,
    85% 54%,
    8% 54%,
    0 54%
  );
  --clip-four: polygon(
    0 0,
    100% 0,
    100% 0,
    95% 0,
    95% 0,
    85% 0,
    85% 0,
    8% 0,
    0 0
  );
  --clip-five: polygon(
    0 0,
    100% 0,
    100% 0,
    95% 0,
    95% 0,
    85% 0,
    85% 0,
    8% 0,
    0 0
  );
  --clip-six: polygon(
    0 40%,
    100% 40%,
    100% 85%,
    95% 85%,
    95% 85%,
    85% 85%,
    85% 85%,
    8% 85%,
    0 70%
  );
  --clip-seven: polygon(
    0 63%,
    100% 63%,
    100% 80%,
    95% 80%,
    95% 80%,
    85% 80%,
    85% 80%,
    8% 80%,
    0 70%
  );
  font-family: "Cyber", sans-serif;
  color: var(--color);
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  min-width: 300px;
  height: 75px;
  line-height: 75px;
}

.cybr-btn:after,
.cybr-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.cybr-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.cybr-btn:after {
  background: var(--primary);
}

.cybr-btn__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  color: hsl(0, 0%, 0%);
  font-size: var(--label-size);
}

.cybr-btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.cybr-btn:hover .cybr-btn__glitch {
  display: block;
}

.cybr-btn__glitch:before {
  content: "";
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%,
  8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }
  14%,
  21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%,
  45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }
  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }
  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%,
  61%,
  100% {
    clip-path: var(--clip-four);
  }
}


@media (max-width: 900px) {
  /* Estilos para pantallas con ancho máximo de 600px */
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9 {
    /* Estilos para cada uno de los elementos */
    width: 80%; /* Opcional: hacer que los elementos ocupen el ancho completo del contenedor */
  font-size: 10px;
  }

  /* Estilos para la imagen */
  .item1 img {
    max-width: 10%;
    height: 10%;
  }

  /* Estilos para el texto */
  .item1 h2, .item1 h1 {
    font-size: 20px;
    max-width: 20%;
    font-display: center;
    justify-content: center;
    color: yellow;
  }

  /* Detener la animación de fondo */
  .item1 {
    animation-play-state: paused;
  }

  .cybr-btn, .cybr-btn:after, .cybr-btn:before, .cybr-btn:hover, .cybr-btn__glitch, .cybr-btn__glitch:before {
    font-size: 10px;
    width: 85%;
    height: 60%;

  }

  .cybr-btn__tag {

    font-size: 10px;
    width: 85%;
    height: 60%;
    margin-right: -80px;
    margin-bottom: -8px;
  }

  img {
    float: left;
    margin-left: 70px;
    margin-top: 40px;
    border-radius: 50%;
    border: none;
  }

  
}



